.modal(data-modal-name="add")
  .modal__content
    .modal__header
      h2.modal__title Send Money
      button.modal__close.js-modal-close X
    .modal__body
      form.form
        .form__control
          label.form__label Mobile Number
          .form__input-wrapper
            input.form__input(type="text" name="mobile" id="mobile")
        .form__control
          label.form__label Amount
          .form__input-wrapper
            input.form__input(type="text" name="amount" id="amount")
        .form__submit
          input(type="submit" value="Send")