sidenav.sidenav
  h1.sidenav__logo
    a(href="#")
      img(src="/img/logo.png", alt="Logo")
    p e-Wallet
  .sidenav__user
    .sidenav__user-wrap
      .sidenav__user-image
        img(src="/img/default-user-image.jpg", alt="")
      p.sidenav__user-name John Doe
  nav.sidenav__nav
    ul.sidenav__nav-list
      li.sidenav__nav-item.active
        a.sidenav__nav-link(href="#") Dashboard
      li.sidenav__nav-item
        a.sidenav__nav-link(href="#") Transactions
      //- li.sidenav__nav-item
      //-   a.sidenav__nav-link(href="#") Transactions
      //- li.sidenav__nav-item.sub
      //-   a.sidenav__nav-link(href="#") Tools
      //-   ul.sidenav__sub-nav
      //-     li.sidenav__sub-item
      //-       a.sidenav__sub-link(href="#") Add Money
      //-     li.sidenav__sub-item
      //-       a.sidenav__sub-link(href="#") Send Money