//color
$primary: #0b1e5a;
$secondary: #498dc5;

$text: #1a1a1a;
$black: #000;
$white: #fff;
$purple: #801CFD;
$green: #28A745;
$blue: #10ADF5;

//font-family
$yugo: '游ゴシック', 'Yu Gothic', '游ゴシック体', 'YuGothic', sans-serif;
$object-fit: 'object-fit: cover; object-position: center;';
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;

//font-weight
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;
