.button {
  padding: 10px 20px;
  font-size: 1.8rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
  background-color: transparent;

  &:not(:last-of-type) {
    margin-right: 10px;
  }

  &--add {
    border: 1px solid $green;

    &:hover {
      color: $white;
      background-color: $green;
    }
  }

  &--send {
    border: 1px solid $blue;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }

  &-wrapper {
    display: flex;
  }
}
