.content {
  width: 100%;
  padding-bottom: 30px;

  &--flex {
    display: flex;
  }

  &__wrapper {
    max-width: 1200px;
    width: 90%;
    margin: 10px auto 0;
    background-color: $white;
    padding: 40px;
    border-top: 2px solid $purple;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  }
}

.title {
  font-size: 24px;
}

.b-flex {
  display: flex;
}

.balance {
  font-size: 2.4rem;
  margin: 5px 0;
}
