.form {
  font-size: 14px;

  &__control {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }

  &__input-wrapper {
    margin-top: 5px;
  }

  &__input {
    width: 100%;
    font-size: 14px;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
  }

  &__submit {
    width: 100%;

    input {
      width: 100%;
      background: #28A745;
      border: 0;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.03em;
      color: $white;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 300ms ease;

      &:hover {
        background-color: rgba(#28A745, 0.8);
      }
    }
  }

  &__register {
    margin-top: 10px;

    a {
      color: #0056b3;
    }
  }
}