.header {
  background-color: $white;
  height: 67px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  font-size: 16px;
  font-weight: $bold;

  &__button-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
