.login {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  background: {
    image: url('/img/wallet-cover.webp');
    size: cover;
    position: left center;
    repeat: no-repeat;
  }

  &__wrapper {
    height: 100%;
    width: 30%;
    margin: auto;
    padding: 50px;
    background-color: $white;
    border-radius: 20px;
  }

  &__logo {
    @include center;
    margin-bottom: 30px;
  }
}
