.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  @include center;
  display: none;

  .form {
    font-size: 16px;

    &__input {
      font-size: 16px;
    }
  }

  &__content {
    width: 500px;
    background-color: $white;
    margin: 100px auto;
    border-radius: 20px;
    transition: all 400ms ease;
    transform: translateY(-100px);
    opacity: 0;

    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #bdbdbd;
  }

  &__title {
    font-size: 1.8rem;
  }

  &__close {
    margin-left: auto;
    font-size: 21px;
    color: #bdbdbd;
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  &__body {
    padding: 20px;
    font-size: 16px;
  }

  &.show {
    display: flex;
  }
}