.sidenav {
  min-height: 100vh;
  width: 250px;
  flex-shrink: 0;
  box-shadow: 0 0 5px 1px #bdbdbd;
  background-color: $white;

  $p: &;

  &__logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
    height: 67px;

    a {
      padding: 0 10px;
      display: flex;
    }

    img {
      max-width: 50px;
    }

    p {
      font-size: 2.4rem;
      margin-left: 10px;
    }
  }

  &__user {
    padding: 10px;
    margin: 0 10px;
    border-bottom: 1px solid #bdbdbd;
  }

  &__user-wrap {
    display: flex;
    align-items: center;
  }

  &__user-image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
    border: 1px solid #bdbdbd;
    overflow: hidden;
    @include center;
    margin-right: 10px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__user-name {
    font-size: 16px;
    font-weight: $bold;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    font: {
      family: $montserrat;
      size: 18px;
      weight: 600;
    }
    padding: 10px;
    margin-top: 10px;
  }

  &__nav-item {
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 5px;
    }

    &.active {
      color: $purple;
    }
  }

  &__nav-link {
    display: block;
    position: relative;
    transition: all 300ms ease;

    &:hover {
      color: $purple;
    }
  }

  &__sub-nav {
    position: absolute;
    left: 50%;
    top: 30px;
    max-height: 0;
    width: 150px;
    overflow: hidden;
    transform: translateX(-50%);
    transition: all 400ms ease;
    background-color: $white;
    border-radius: 5px;
    padding: 0 10px;
  }

  .sub {
    #{$p}__sub-nav {
      a {
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }

        &::before {
          content: none;
        }
      }
    }

    #{$p}__sub-item {
      transition: all 400ms ease;

      &:not(:last-of-type) {
        margin-bottom: 5px;
      }

      &:hover {
        color: $purple;
      }
    }

    &:hover {
      #{$p}__sub-nav {
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
        padding: 20px 10px;
        max-height: 500px;
      }
    }
  }
}