.transaction {
  &__item {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;

    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }

  &__type,
  &__date {
    font-weight: 600;
    color: #bdbdbd;
  }

  &__user {
    font-size: 18px;
    font-weight: $bold;
  }

  &__cost {
    text-align: right;

    &.add {
      color: $green;
    }

    &.sent {
      color: #F44336;
    }
  }
}
