.white {
  color: $white;
}

.white-bg {
  background: $white;
}

.black {
  color: $black;
}

.black-bg {
  background: $black;
}

.primary {
  color: $primary;
}

.primary-bg {
  background: $primary;
}

.overflow {
  overflow: hidden;
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}
