extends includes/layout.pug
block variables
  - var bodyFlex = true
block content
  include includes/sidenav.pug
  main.content
    include includes/header.pug
    .content__wrapper
      h2.title Balance:
      p.balance $1200
      .button-wrapper.button-wrapper--cta
        button.button.button--send.js-modal(data-modal-target="add")
          | Send Money
      
      h2.title.mt-40.mb-10 Recent transactions
      .transaction__list
        .transaction__item
          .transaction__block
            p.transaction__type Received money from
            p.transaction__user Jane Doe
          .transaction__block
            p.transaction__date June 21, 2022
            p.transaction__cost.add + 100
        .transaction__item
          .transaction__block
            p.transaction__type Sent money to
            p.transaction__user Jane Doe
          .transaction__block
            p.transaction__date June 21, 2022
            p.transaction__cost.sent - 100
        .transaction__item
          .transaction__block
            p.transaction__type Received money from
            p.transaction__user Jane Doe
          .transaction__block
            p.transaction__date June 21, 2022
            p.transaction__cost.add + 100
        .transaction__item
          .transaction__block
            p.transaction__type Sent money to
            p.transaction__user Jane Doe
          .transaction__block
            p.transaction__date June 21, 2022
            p.transaction__cost.sent - 100
        .transaction__item
          .transaction__block
            p.transaction__type Sent money to
            p.transaction__user Jane Doe
          .transaction__block
            p.transaction__date June 21, 2022
            p.transaction__cost.sent - 100