extends includes/layout.pug
block variables
  - var noHeader = true
block content
  .login
    .login__wrapper
      .login__header
        .login__logo
          img(src="/img/logo.png", alt="Logo")
        form.form.login__form
          .form__control
            label.form__label(for="mobile") Mobile Number
            .form__input-wrapper
              input.form__input(type="text" name="mobile" id="mobile")
          .form__control
            label.form__label(for="username") Password
            .form__input-wrapper
              input.form__input(type="password" name="password" id="password")
          .form__submit
            input(type="submit" value="Log in")
          p.form__register.form__register--link Don't have an account yet? #[a(href="#") Register]