extends includes/layout.pug
block variables
  - var noHeader = true
block content
  .login
    .login__wrapper
      .login__header
        .login__logo
          img(src="/img/logo.png", alt="Logo")
        form.form.login__form
          .form__control
            label.form__label Mobile
            .form__input-wrapper
              input.form__input(type="text" name="mobile" id="mobile")
          .form__control
            label.form__label Password
            .form__input-wrapper
              input.form__input(type="password" name="password" id="password")
          .form__control
            label.form__label First Name
            .form__input-wrapper
              input.form__input(type="text" name="firstname" id="firstname")
          .form__control
            label.form__label Middle Name
            .form__input-wrapper
              input.form__input(type="text" name="middlename" id="middlename")
          .form__control
            label.form__label Last Name
            .form__input-wrapper
              input.form__input(type="text" name="lastname" id="lastname")
          .form__submit
            input(type="submit" value="Register")