extends includes/layout.pug
block variables
  - var bodyFlex = true
block content
  include includes/sidenav.pug
  main.content
    include includes/header.pug
    .content__wrapper
      .transaction
        h2.title.mb-10 Transactions 
        .transaction__list
          .transaction__item
            .transaction__block
              p.transaction__type Received money from
              p.transaction__user Jane Doe
            .transaction__block
              p.transaction__date June 21, 2022
              p.transaction__cost.add + 100
          .transaction__item
            .transaction__block
              p.transaction__type Sent money to
              p.transaction__user Jane Doe
            .transaction__block
              p.transaction__date June 21, 2022
              p.transaction__cost.sent - 100
          .transaction__item
            .transaction__block
              p.transaction__type Received money from
              p.transaction__user Jane Doe
            .transaction__block
              p.transaction__date June 21, 2022
              p.transaction__cost.add + 100
          .transaction__item
            .transaction__block
              p.transaction__type Sent money to
              p.transaction__user Jane Doe
            .transaction__block
              p.transaction__date June 21, 2022
              p.transaction__cost.sent - 100
          .transaction__item
            .transaction__block
              p.transaction__type Sent money to
              p.transaction__user Jane Doe
            .transaction__block
              p.transaction__date June 21, 2022
              p.transaction__cost.sent - 100