* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
div {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  font-size: 10px;
  -webkit-font-feature-settings: "palt";
          font-feature-settings: "palt";
}
@media screen and (max-width: 980px) {
  html {
    min-width: 980px;
  }
}
@media screen and (max-width: 767px) {
  html {
    min-width: 100%;
  }
}

body {
  background-color: #eee;
}

.sidenav {
  min-height: 100vh;
  width: 250px;
  flex-shrink: 0;
  -webkit-box-shadow: 0 0 5px 1px #bdbdbd;
          box-shadow: 0 0 5px 1px #bdbdbd;
  background-color: #fff;
}
.sidenav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  height: 67px;
}
.sidenav__logo a {
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sidenav__logo img {
  max-width: 50px;
}
.sidenav__logo p {
  font-size: 2.4rem;
  margin-left: 10px;
}
.sidenav__user {
  padding: 10px;
  margin: 0 10px;
  border-bottom: 1px solid #bdbdbd;
}
.sidenav__user-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidenav__user-image {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 1px solid #bdbdbd;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}
.sidenav__user-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidenav__user-name {
  font-size: 16px;
  font-weight: 700;
}
.sidenav__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  margin-top: 10px;
}
.sidenav__nav-item {
  position: relative;
}
.sidenav__nav-item:not(:last-of-type) {
  margin-bottom: 5px;
}
.sidenav__nav-item.active {
  color: #801CFD;
}
.sidenav__nav-link {
  display: block;
  position: relative;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.sidenav__nav-link:hover {
  color: #801CFD;
}
.sidenav__sub-nav {
  position: absolute;
  left: 50%;
  top: 30px;
  max-height: 0;
  width: 150px;
  overflow: hidden;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  background-color: #fff;
  border-radius: 5px;
  padding: 0 10px;
}
.sidenav .sub .sidenav__sub-nav a:not(:last-of-type) {
  margin-bottom: 5px;
}
.sidenav .sub .sidenav__sub-nav a::before {
  content: none;
}
.sidenav .sub .sidenav__sub-item {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.sidenav .sub .sidenav__sub-item:not(:last-of-type) {
  margin-bottom: 5px;
}
.sidenav .sub .sidenav__sub-item:hover {
  color: #801CFD;
}
.sidenav .sub:hover .sidenav__sub-nav {
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  max-height: 500px;
}

.header {
  background-color: #fff;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  padding: 0 20px;
  font-size: 16px;
  font-weight: 700;
}
.header__button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login {
  width: 100%;
  min-height: 100vh;
  padding-top: 100px;
  background-image: url("./src/img/wallet-cover.webp");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
}
.login__wrapper {
  height: 100%;
  width: 30%;
  margin: auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 20px;
}
.login__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.form {
  font-size: 14px;
}
.form__control:not(:last-of-type) {
  margin-bottom: 15px;
}
.form__input-wrapper {
  margin-top: 5px;
}
.form__input {
  width: 100%;
  font-size: 14px;
  padding: 8px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}
.form__submit {
  width: 100%;
}
.form__submit input {
  width: 100%;
  background: #28A745;
  border: 0;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.form__submit input:hover {
  background-color: rgba(40, 167, 69, 0.8);
}
.form__register {
  margin-top: 10px;
}
.form__register a {
  color: #0056b3;
}

.button {
  padding: 10px 20px;
  font-size: 1.8rem;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  background-color: transparent;
}
.button:not(:last-of-type) {
  margin-right: 10px;
}
.button--add {
  border: 1px solid #28A745;
}
.button--add:hover {
  color: #fff;
  background-color: #28A745;
}
.button--send {
  border: 1px solid #10ADF5;
}
.button--send:hover {
  color: #fff;
  background-color: #10ADF5;
}
.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  width: 100%;
  padding-bottom: 30px;
}
.content--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.content__wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 10px auto 0;
  background-color: #fff;
  padding: 40px;
  border-top: 2px solid #801CFD;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 24px;
}

.b-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.balance {
  font-size: 2.4rem;
  margin: 5px 0;
}

.transaction__item {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
}
.transaction__item:not(:last-of-type) {
  margin-bottom: 20px;
}
.transaction__type, .transaction__date {
  font-weight: 600;
  color: #bdbdbd;
}
.transaction__user {
  font-size: 18px;
  font-weight: 700;
}
.transaction__cost {
  text-align: right;
}
.transaction__cost.add {
  color: #28A745;
}
.transaction__cost.sent {
  color: #F44336;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.modal .form {
  font-size: 16px;
}
.modal .form__input {
  font-size: 16px;
}
.modal__content {
  width: 500px;
  background-color: #fff;
  margin: 100px auto;
  border-radius: 20px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  opacity: 0;
}
.modal__content.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  border-bottom: 1px solid #bdbdbd;
}
.modal__title {
  font-size: 1.8rem;
}
.modal__close {
  margin-left: auto;
  font-size: 21px;
  color: #bdbdbd;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.modal__body {
  padding: 20px;
  font-size: 16px;
}
.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.white {
  color: #fff;
}

.white-bg {
  background: #fff;
}

.black {
  color: #000;
}

.black-bg {
  background: #000;
}

.primary {
  color: #0b1e5a;
}

.primary-bg {
  background: #0b1e5a;
}

.overflow {
  overflow: hidden;
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

/*# sourceMappingURL=/main.css.map */